doctype html
html
    head
        meta(http-equiv='Content-type', content='text/html; charset=utf-8')
        title Salman I Like You
        link(rel="stylesheet", href="css/bootstrap.min.css")
        link(rel="stylesheet", href="css/signin.css")
    body
        div.container
            form.form-signin
                h2.form-signin-heading Please sign in
                label(for='username', class='sr-only') Email address
                input#username(class='form-control', placeholder='Username', required, autofocus)
                label(for='password', class='sr-only') Password
                input#password(type='password', class='form-control', placeholder='Password', required)
                button.btn.btn-lg.btn-primary.btn-block(type='submit', target='/login') Sign in